<a href="https://colab.research.google.com/github/ajb592/BTE-320/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+2

5

In [ ]:
3.2+5.5

8.7

In [ ]:
3+2.0

5.0

In [ ]:
5-2

3

In [ ]:
4*5

20

In [ ]:
3**3

27

In [ ]:
6/3

2.0

In [ ]:
5//2

2

In [ ]:
5%3

2

In [ ]:
3%5

3

In [ ]:
a = True
b = False

In [ ]:
a and b

False

In [ ]:
a or b

True

In [ ]:
not b

True

In [ ]:
age = 20
salary = 70_000

(age > 25) and (salary > 50_000)

False

In [ ]:
# Calculate and display area of square
side = 5 # Set value for side
area = side**2 # Calculate area
print("Area =", area, "sq. ft") # Display area
print("Goodbye!")

Area = 25 sq. ft
Goodbye!

In [ ]:
print("Area =", area, "sq. ft", end="---")
print("Goodbye!")

Area = 25 sq. ft---Goodbye!

In [ ]:
print("Area =", area, "sq. ft", sep=" ")
print("Goodbye!")

Area = 25 sq. ft
Goodbye!

In [ ]:
print("Area = {} sq. ft".format(area))

Area = 25 sq. ft

In [ ]:
print(f"Area = {area} sq. ft")

Area = 25 sq. ft

In [ ]:
name = input("Please provide yoyr name: ")
print("Hi", name)
type(name)

Please provide yoyr name: Bob
Hi Bob

str

In [ ]:
age = int(input("Please provide your age: "))
print(age + 10)
type(age)

Please provide your age: 20
30

int

In [ ]:
if condition:
  expr
  expr

In [ ]:
fico = int(input("Please provide your FICO score: "))
if fico >= 700:
  print("Loan granted!")
else:
  print("Loan denied!")

Please provide your FICO score: 500
Loan denied!

In [ ]:
num = float(input("Please enter your number grade (0-100): "))
if num >= 97:
  print("A+")
elif num >= 93:
  print("A")
elif num >= 90:
  print("A-")
elif num >= 87:
  print("B+")
elif num >= 83:
  print("B")
elif num >= 90:
  print("B-")

Please enter your number grade (0-100): 87
B+

In [ ]:
customer_type = input("Please provide your customer type (N: new, E: existing): ")
deposit = float(input("Please provide your deposit amount ($): "))
if customer_type == "E":
  if deposit >= 10_000:
    IR = 3.5 # % value
  elif deposit >= 1_000:
    IR = 3.25
  else:
    IR = 3
else:
  IR = 4
total = (1 + IR/100) * deposit
print(f"Total deposit: {total}$")

Please provide your customer type (N: new, E: existing): E
Please provide your deposit amount ($): 5000
Total deposit: 5162.5$

In [ ]:
customer_type = input("Please provide your customer type (N: new, E: existing): ")
deposit = float(input("Please provide your deposit amount ($): "))
if customer_type == "E" and deposit >= 10_000:
  IR = 3.5
elif customer_type == "E" and deposit >= 1_000:
  IR = 3.25
elif customer_type == "E":
  IR = 3.0
else:
  IR = 4.0
total = (1 + IR/100) * deposit
print(f"Total deposit: {total}$")

Please provide your customer type (N: new, E: existing): E
Please provide your deposit amount ($): 5000
Total deposit: 5162.5$

In [ ]:
x = 5
if x % 2 == 0:
  res = "Even"
else:
  res = "Odd"
print(res)

Odd

In [ ]:
x = 5
res = "Even" if x % 2 == 0 else "Odd"
print(res)

Odd

In [1]:
for number in range (2, 11, 2):
  print(number, end=" ")

2 4 6 8 10

In [2]:
for number in range (1, 11):
  if number % 2 == 0:
    print(number, end=" ")

2 4 6 8 10

In [1]:
num = 1

while num < 5:
  print(num, num ** 2, num ** 3)
  num = num + 1

1 1 1
2 4 8
3 9 27
4 16 64

In [2]:
for num in range(1, 5):
  print(num, num ** 2, num ** 3)

1 1 1
2 4 8
3 9 27
4 16 64

In [3]:
s = input("Enter yes or no: ")

while s =="yes":
  print("OK!")
  s = input("Enter yes or no: ")

Enter yes or no: yes
OK!
Enter yes or no: yes
OK!
Enter yes or no: yes
OK!
Enter yes or no: no

In [8]:
ticket_price = 10
fixed_costs = 200
base_attendees = 20

print("Ad$\t", "Profit")

for adMoney in range(0, 201, 25):
  revenue = (base_attendees + 2 * round(adMoney ** 0.5)) * ticket_price
  total_costs = fixed_costs + adMoney
  profit = revenue - total_costs
  print(adMoney, "\t", profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [7]:
ticket_price = 10
fixed_costs = 200
base_attendees = 20

print("Ad$\t", "Profit")
adMoney = 0
while adMoney < 201:
  revenue = (base_attendees + 2 * round(adMoney ** 0.5)) * ticket_price
  total_costs = fixed_costs + adMoney
  profit = revenue - total_costs
  print(adMoney, "\t", profit)
  adMoney = adMoney + 25

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [11]:
num = 9

while num > 0:
  num = num - 1
  if num == 5:
    continue
  print(num)
print("End.")

8
7
6
4
3
2
1
0
End.

In [13]:
for num in range(1, 11):
  if num % 2 != 0:
    continue
  print(num, end = " ")

2 4 6 8 10